@media (max-width: 1000px) {
    body{
        width: 100%;
    }
    .name-wrapper{
  
        position: absolute;
        width: 45%;
        margin-top: 150px;
        margin-left: 12px;
      }
      .btn {
        
        
        margin-top: 140px;
        margin-left: 55px;
        
        
        
      }
      .learn{
        width: 130px;
        height: 35px;
        border: 2px solid #bee0c2;
        border-radius: 30px;
        font-size: 25px;
        color:  #bee0c2;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 15px;
      }
      
      .learn:hover{
        width: 150px;
        height: 42px;
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        border: 6px solid #00ff7f;
        transition: all 2s;
        margin-left:0;
        color: #00ff7f;
        padding-left: 25px;
        padding-bottom: 8px;
        
        
        
        
      }
      
      
    }
    @media (max-width: 740px) {
        body{
            width: 100%;
        }
        .name-wrapper{
  
            position: absolute;
            width: 45%;
            margin-top: 110px;
            margin-left: 1px;
          }
          .btn {
        
        
            margin-top: 90px;
            margin-left: 20px;
            
            
            
          }

          .learn{
            width: 80px;
            height: 20px;
            border: 2px solid #bee0c2;
            border-radius: 30px;
            font-size: 15px;
            color:  #bee0c2;
            text-decoration: none;
            padding-top: 5px;
            padding-left: 15px;
          }
          
          .learn:hover{
            width: 100px;
            height: 25px;
            font-size: 15px;
            background-color: rgba(0, 0, 0, 0.5);
            border: 6px solid #00ff7f;
            transition: all 2s;
            margin-left:0;
            color: #00ff7f;
            padding-left: 25px;
            padding-bottom: 5px;
            
            
            
            
          }
    }